<footer class="bg-slate-500 p-3 text-white shadow-lg mt-10 ">
    <div class="md:w-10/12 items-center flex flex-col gap-2 md:flex-row justify-between">
        <span>
            &copy; Arnowa 2022, All Rights Reserved
        </span>
        <span>
            Designed & Developed by <a href="https://www.linkedin.com/in/boravivek/" target="_blank"
                class="text-slate-300 underline underline-offset-2">Vivek
                Bora</a>
        </span>
    </div>
</footer>