<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="pt-10 homepage-container">
    <div class="flex gap-10 justify-around items-center">
        <img src="/img/home.svg" alt="Welcome" class="h-64">

        <div class="flex flex-col gap-10 text-center">
            <div class="text-6xl font-bold text-slate-800">
                Welcome to Arnowa,
            </div>
            <div class="text-4xl text-slate-500">
                Let's explore the technology world together.
            </div>
        </div>
    </div>
    <div class="mt-20 flex justify-center gap-40">
        <button class="bg-slate-600 text-white px-20 py-20 pt-3 pb-3 rounded-md shadow-md">
            <a href="/login"><i class="fas fa-sign-in"></i> Login</a>
        </button>
        <button class="bg-slate-800 text-white px-20 py-20 pt-3 pb-3 rounded-md shadow-md">
            <i class="fas fa-user-plus"></i> <a href="/register">Register</a>
        </button>
    </div>
</section>