<div class="login-container">
    <div class="text-center">
        <div class="section-heading">
            Arnowa Login
        </div>
        <span class="text-center text-md text-slate-200">
            Login to explore more
        </span>
    </div>

    <form action="/users/create-session" class="input-form flex flex-col gap-5" method="post">
        <div class="inputGroup">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Enter your email">
        </div>
        <div class="inputGroup">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password">
        </div>
        <div class="inputGroup items-center">
            <input type="submit" value="Login">
        </div>
    </form>
</div>