<div class="register-container">
    <div class="text-center">
        <div class="section-heading">
            Arnowa Register
        </div>
        <span class="text-center text-md text-slate-200">
            Register yourself to an incredible world of technology
        </span>
    </div>

    <form action="" class="input-form flex flex-col gap-5">
        <div class="inputGroup">
            <label for="email">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter your name">
        </div>
        <div class="inputGroup">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Enter your email">
        </div>
        <div class="inputGroup">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password">
        </div>
        <div class="inputGroup">
            <label for="password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password"
                placeholder="Enter your confirm password">
        </div>
        <div class="inputGroup items-center">
            <input type="submit" value="Login">
        </div>
    </form>
</div>