<div class="register-container">
    <div class="text-center">
        <div class="section-heading">
            Arnowa Register
        </div>
        <div class="text-center text-md text-slate-200 mt-3">
            Register yourself to an incredible world of technology
        </div>

        <div class="text-center text-md bg-red-600 text-white mt-5 mb-5">
            <%= flash.error %>
        </div>
    </div>

    <form action="/users/create-account" class="input-form flex flex-col gap-5" method="post">
        <div class="inputGroup">
            <label for="email">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter your name" required>
        </div>
        <div class="inputGroup">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Enter your email" required>
        </div>
        <div class="inputGroup">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required>
        </div>
        <div class="inputGroup">
            <label for="password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password"
                placeholder="Enter your confirm password" required>
        </div>
        <div class="inputGroup items-center">
            <input type="submit" value="Register">
        </div>
    </form>
</div>