@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    min-height: calc(100vh - 15vh);
    height: auto;
}

.inputGroup{
    @apply flex flex-col;
}

.inputGroup input[type="text"], input[type="password"]{
    @apply bg-slate-800 p-2 rounded-md
}

.inputGroup input[type="submit"]{
    @apply cursor-pointer bg-slate-300 text-black text-xl p-2 w-28 rounded-md
}

.inputGroup input[type="submit"]:hover{
    @apply bg-slate-900 text-white
}

.inputGroup label{
    @apply text-lg
}

.section-heading{
    @apply text-3xl text-center font-semibold
}

.login-container{
    @apply mx-auto w-5/12 bg-slate-500 p-5 shadow-lg rounded-md absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-white
}

.register-container{
    @apply mx-auto w-5/12 bg-slate-500 p-5 shadow-lg rounded-md absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-white
}

.homepage-container{
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-10/12
}

.activeMenu{
    @apply bg-slate-300 px-4 py-1 rounded-md text-black
}